.dashboardContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .button {
    width: full; /* Adjust width as needed */
    font-size: 1.2em; /* Increase font size */
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .center {
    margin: 0;
    width: 250px;
    font-size: 1.2em;
    position: relative;
    justify-content: center;
    top: 0%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }